* {
    margin: 0px;
    padding:0px;
}

body {
    background-color: #282828;
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 2.5vh;
    color:white;
}

.main {
    width: 100%;
}

.header {
    position: fixed;
    background-color:var(--section1background);
    color: white;
    overflow: hidden;
    height: 7vh;
    width: 100%;
    border-bottom: 10px;
    display: table;
    top: 0px;
    transition: top 0s ease 0s;
}

.header button {
    border-radius: 20%;
}

.nav-toggle-button-outside {
    margin: 1vh;
    width: 5vh;
    height: 5.3vh;
}

.header-inner {
    background-color: var(--section1background);
    overflow: hidden;
    height: 8vh;
}

.static-content {
    margin-top: 8vh;
    overflow: hidden;
}

.fas {
    color: rgb(255, 255, 255);
}

.li a {
    text-decoration: none;
    color: #d3cccc;
}

.li {
    width: auto;
    background-color:var(--section1background);
    display: inline-block;
    margin-bottom: 1vh;
    color: #d3cccc;
    overflow: hidden;
    margin-top: 2vh;
    padding-left: 2vh;
    padding-top: 0.6vh;
}
#li2, #li4, #li5, #li3 {
    padding-left: 3%;
}

.scroll-to-top {
    float: right;
    text-decoration: none;
    color: black;
    padding-right: 2.5vh;
    padding-top: 1.5vh;
    overflow: hidden;
}

.section1 {
    background-color: var(--section1background);
    height: 60vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.section1 h1 {
    padding-left: 2.5vh;
    font-size: 7vh;

}


.section3 p{
    padding-left:10%;
    padding-right: 10%;
    line-height:40px;
}
.section3 h2{
    font-size: 5vh;
    padding-left:3%;
}

.footer {
    background-color: #999999;
    width: 100%;
    padding-top: 2vh;
    background-color: #fffcec;
}

.section2 {
    height: 2vh;
}

.social li {
    display: inline-block;
    margin-left: 1vh;
    margin-right: 1vh;
}

.social ul {
    margin-left: 1vh;
    padding-left: 0vh;
    text-align: left;
}
.foot li {
    display: inline-block;
    float: right;
    margin-left: 1vh;
    margin-right: 2vh;
}

.foot {
    margin-bottom: 0;
    padding-bottom: 3vh;
    overflow: hidden;
}

.logo {
    padding-bottom: 1vh;
    padding-left: 1vh;
}

.logo a {
    text-decoration: none;
    color: #2b2b2b;
    font-size: 14px;
}

.bottom-links a {
    text-decoration: none;
    color: #2b2b2b;
    font-size: 14px;
}

@media screen and (max-width: 1900px) {
    .section1 h1 {
        padding-left: 5vh;
        font-size: 8vh;
    }
    .li,.li a{
        font-size: 3vh;
    }
    .section3 p{
        padding-left:10%;
    padding-right: 10%;
        font-size: 20px;
       
    }
    .section2 {
        height: 7vh;
    }
    .li{
        padding-left: 4vh;
    }
}

@media screen and (max-width: 1200px) {
    .section3 p{
        padding-left:10%;
        padding-right: 10%;
        font-size: 1.5vh;
    }
    .li,.li a,.li i{
        font-size: 2.5vh;
    }
    .section2 {
        height: 6vh;
    }
    .li{
        padding-left: 3vh;
    }
}

@media screen and (max-width: 1400px) {
    * {
        font-size: 2vh;
    }
    .social-inner ul li a svg {
        width: 3vh;
        height: 3vh;
    }
    .li,.li a,.li i{
        font-size: 2.5vh;
    }
    .bottom-links li a{
        font-size: 2vh;
    }
    .scroll-to-top-icon{
        width: 2.6vh;
        height: 2.6vh;
    }
    .logo a{
        font-size: 2vh;
    }
    
}
@media screen and (max-width: 2560px) {
    * {
        font-size: 2vh;
    }
    .social-inner ul li a svg {
        width: 3vh;
        height: 3vh;
    }
    .bottom-links li a{
        font-size: 2vh;
    }
    .scroll-to-top-icon{
        width: 2.6vh;
        height: 2.6vh;
    }
    .logo a{
        font-size: 2vh;
    }
    .li,.li a,.li i{
        font-size: 2.5vh;
    }
    .section1 h1{
        font-size:7vh;
    }
    .li{
        padding-left: 3vh;
    }
}
@media screen and (max-width: 411px){
    .section3 p{
        font-size:18px;
    }
}