* {
    margin: 0;
    padding: 0;
}
:root{
--bodybackgroundcolor:rgb(41, 48, 51);
--wrapperbg:rgb(220, 223, 236);
--footercolor:rgb(100, 104, 97);
}
body, html {
    background:var(--bodybackgroundcolor);
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
}
#logo{
    text-align:center;
    margin-bottom:5vh;
    margin-top:5vh;
    position: relative;
    font-size: 3vh;
    color:black;
}

.search-bar {
	position: relative;
    margin: 0 auto;
    width: 95%;
    max-width: 344px;
    height: 48px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

input {
    position: absolute;
    left: 50%;
    transform: translateX(-63%);
    width: 250px;
    height: 40px;
    left: 172px;
    margin: 4px 0;
    border: 0;
    border-radius: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}

ul#wrapper {
    list-style: none;
    display: inline-block;
    margin-top: 50vh;
    margin-bottom:17vh;
	text-align: center;
}

#wrapper li {
    width: auto;
    padding:10px;
    height: auto;
    background: var(--wrapperbg);
    display: inline-block;
    margin: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    text-align: center;
}
#wrapper li p{
    display: inline;
}
a {
    font-size: 24px;
    color: rgb(0, 0, 0);
    
    text-decoration: none;
}
.footer {
    width: 100%;
    padding-top: 2vh;
    background-color:var(--footercolor);
}
.social li {
    display: inline-block;
    margin-left: 1vh;
    margin-right: 1vh;
}
.social ul {
    margin-left: 1vh;
    padding-left: 0vh;
    text-align: left;
}

.foot li {
    display: inline-block;
    float: right;
    margin-left: 1vh;
    margin-right: 2vh;
}

.foot {
    margin-bottom: 0;
    padding-bottom: 1vh;
    overflow: hidden;
}

.logo {
    padding-bottom: 1vh;
    padding-left: 1vh;
}

.logo a {
    text-decoration: none;
    color: #2b2b2b;
    font-size: 14px;
}

.bottom-links a {
    text-decoration: none;
    color: #2b2b2b;
    font-size: 14px;
}
